* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  background-color: brown;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: "header instrucciones music" "left left right";
}

.container--grid {
  grid-area: left;
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.options--grid {
  grid-area: right;
}

.instrucciones {
  grid-area: instrucciones;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

.music {
  grid-area: music;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

h1 .fa-info-circle {
  color: greenyellow;
  font-size: 1.1em;
}

a .fa-volume-up {
  color: greenyellow;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.title--container {
  grid-area: header;
  border-bottom: 2px solid white;
  text-align: center;
  margin-top: 5px;
}

h2 {
  font-size: 1.5rem;
}

.container {
  width: 60%;
  height: 80%;
  display: inherit;
  grid-template: repeat(2, 50%) / repeat(2, 50%);
  background-color: #ffbe76;
  border: 0.5rem solid black;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.circle {
  width: 40%;
  height: 40%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2rem black;
}

.color {
  cursor: pointer;
  border: 0.2rem solid black;
}

.celeste,
.violeta {
  border-top: none;
}

.celeste,
.naranja {
  border-left: none;
}

.verde,
.violeta {
  border-right: none;
}

.naranja,
.verde {
  border-bottom: none;
}

.celeste {
  background-color: #22a6b3;
}

.celeste.light {
  background-color: #7ed6df;
}

.violeta {
  background-color: #be2edd;
}

.violeta.light {
  background-color: #e056fd;
}

.naranja {
  background-color: #f0932b;
}

.naranja.light {
  background-color: #ffbe76;
}

.verde {
  background-color: #6ab04c;
}

.verde.light {
  background-color: #badc58;
}

.configuration {
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
}

.configuration h1 {
  background-color: #6699cc;
  color: white;
  padding: 1rem 2rem;
  font-size: 2.5rem;
}

.configuration ul {
  list-style: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
}

.configuration .buttons {
  padding: 0 3rem 1rem;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas: "btnGame btnOption" "btnRepeat btnRepeat";
  grid-gap: 0.5rem 0.5rem;
}

.btn--game {
  grid-area: btnGame;
  background-color: #6ab04c !important;
}

.btn--options {
  grid-area: btnOption;
  background-color: #6ab04c !important;
}

.btn--repeat {
  grid-area: btnRepeat;
  color: black !important;
}

.btn {
  width: 100%;
  background-color: #f7cb15;
  color: white;
  padding: 0.5rem 0;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: #fd3e81;
  transform: scale(1.05);
}

.configuration h2 {
  background-color: rgba(0, 0, 0, 0.1);
  color: #6c757d;
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 767px) {
  .wrapper {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 5% 45% 40%;
    grid-template-areas: "header header" "instrucciones music" "left left" "right right";
  }

  .container--grid {
    align-items: center;
  }

  .title--container {
    border-bottom: none;
  }

  .instrucciones {
    border-bottom: none;
  }

  .music {
    border-bottom: none;
  }

  .container {
    width: 90%;
    height: 100%;
    display: inherit;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    background-color: #ffbe76;
    border: 0.5rem solid black;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
  }

  .configuration h1 {
    background-color: #6699cc;
    color: white;
    padding: 0.1rem 0.2rem;
    font-size: 1.7rem;
    text-align: center;
  }

  .configuration h2 {
    background-color: rgba(0, 0, 0, 0.1);
    color: #6c757d;
    text-align: center;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 414px) {
  .wrapper {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2% 10% 43% 40%;
    grid-template-areas: "header header" "instrucciones music" "left left" "right right";
  }

  .container {
    width: 85%;
    height: 100%;
    display: inherit;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    background-color: #ffbe76;
    border: 0.5rem solid black;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -15px;
  }

  .configuration h1 {
    background-color: #6699cc;
    color: white;
    padding: 0.2rem 2rem;
    /* Alto y ancho del padding color azul */
    font-size: 1.8rem;
    text-align: center;
  }

  .options {
    margin-top: 25px;
  }
  @media screen and (max-width: 411px) {
    .container {
      width: 80%;
      height: 90%;
      display: inherit;
      grid-template: repeat(2, 50%) / repeat(2, 50%);
      background-color: #ffbe76;
      border: 0.5rem solid black;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      margin-top: -20px;
    }
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2% 9% 43% 45%;
    grid-template-areas: "header header" "instrucciones music" "left left" "right right";
  }

  .container {
    width: 95%;
    height: 100%;
    display: inherit;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    background-color: #ffbe76;
    border: 0.5rem solid black;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
  }

  .configuration h1 {
    background-color: #6699cc;
    color: white;
    padding: 0.3rem;
    font-size: 1.3rem;
    text-align: center;
  }
  .options {
    margin-top: 20px;
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 2% 7% 40% 41%;
    grid-template-areas: "header header" "instrucciones music" "left left" "right right";
  }

  .container {
    width: 70%;
    height: 90%;
    display: inherit;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    background-color: #ffbe76;
    border: 0.5rem solid black;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 18px;
  }

  .configuration h1 {
    background-color: #6699cc;
    color: white;
    padding: 0.1rem 0.2rem;
    font-size: 1.3rem;
    text-align: center;
  }
  .configuration ul {
    padding: 15px;
  }
  .options {
    margin-top: 20px;
  }
  @media screen and (max-width: 320px) {
    .container {
      width: 80%;
      height: 100%;
      display: inherit;
      grid-template: repeat(2, 50%) / repeat(2, 50%);
      background-color: #ffbe76;
      border: 0.5rem solid black;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      margin-top: 40px;
    }

    .configuration ul {
      padding: 5px;
    }
    .options {
      margin-top: 73px;
    }
  }
}
